.table-container {
    width: 100%;
    height: auto;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-column-description {
    min-width: 170px;
}

.mat-column-date {
    padding-right: 10px;
}

.mat-column-value {
    text-align: right;
    padding-right: 10px;
}

.mat-column-reference {
    text-align: center;
    padding-right: 10px;
}
