.table-container {
  width: 100%;
  height: auto;
  overflow: auto;
}

table {
  width: 100%;
}

// th,
// td {
//   white-space: nowrap; /* Evita quebra de texto */
// }

.mat-column-index {
  width: 50px;
}

.mat-column-description {
  width: 500px;
}

.mat-column-value {
  width: 125px;
  text-align: right;
  padding-right: 5px;
}

.mat-column-category {
  width: 500px;
  padding-left: 10px;
}
