<nav
  class="tabs-footer botton-tabs"
  [class.modern-bottom-tabs]="useModernLayout"
  [class.classic-bottom-tabs]="!useModernLayout"
  aria-label="Navegação principal"
>
  <a
    *ngFor="let tab of tabs"
    class="tab-link"
    [routerLink]="tab.path"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="setActiveTab(tab)"
    [attr.aria-label]="tab.label"
    [attr.title]="tab.label"
  >
    <span class="tab-icon">
      <mat-icon>{{ tab.icon }}</mat-icon>
    </span>
    <span class="tab-label" *ngIf="!isMobile">{{ tab.label }}</span>
  </a>
</nav>
