:host {
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: block;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.load-spinner-overlay {
  position: fixed;
  inset: 0;
  z-index: 10001;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
  background-color: rgb(0 0 0 / 38%);
  pointer-events: all;
  user-select: none;
  cursor: wait;
}

:host-context(.dark-theme) .load-spinner-overlay {
  background-color: rgb(0 0 0 / 52%);
}
